.root {
  z-index: 101;
  background-color: var(--c-bg);
  border-radius: var(--l-rounded-md);
  padding: var(--l-1);
  box-shadow: var(--s-s), 0 0 0 1px var(--c-ring);
  min-width: 120px;
  transform-origin: top right;
}

.icon {
  width: 15px;
  height: 15px;
}

.item, .label {
  padding: 0px 12px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 0.8125rem;
  border-radius: var(--l-rounded-md);
  color: var(--c-text-secondary);
  font-family: var(--t-font-secondary);
  cursor: default;

  &:focus, &:active {
    background-color: var(--c-primary-600);
    color: var(--c-white);

    & .rightSlot {
      color: var(--c-white);
    }
  }
}

.label {
  line-height: 28px;
  font-size: 0.75rem;
}

.arrow {
  display: block;
  margin: -1px;
}

.rightSlot {
  margin-left: auto;
  padding-left: 20px;
  font-size: 0.75rem;
  color: var(--c-text-secondary);
}

.indicator {
  position: absolute;
  left: 0px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.separator {
  height: 1px;
  background-color: var(--c-ring);
  margin: 4px;
}
