@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    
    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    
    @return $string;
}

:root {
    @for $i from 1 to 49 {
        --l-#{str-replace(#{$i / 2}, '.', '_')}: #{$i / 8}rem;
    }

    --l-rounded-sm:     var(--l-0_5);
    --l-rounded:        var(--l-1);
    --l-rounded-md:     var(--l-1_5);
    --l-rounded-lg:     var(--l-2);
    --l-rounded-xl:     var(--l-3);
    --l-rounded-2xl:    var(--l-4);
    --l-rounded-3xl:    var(--l-6);
    --l-rounded-full:   9999px;
}
