.root {
    position: relative;

    .day {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
        width: var(--l-6);
        height: var(--l-6);
        background-color: var(--c-neutral-100);
        border-radius: var(--l-radius-s);
        color: var(--c-text-secondary);
        font-weight: bold;
        box-shadow: 0 0 0 1px var(--c-ring), var(--s-s);

        &[data-selected="true"] {
            background-color: var(--c-primary-600);
            color: var(--c-white);
        }

        &[data-skeleton] {
            animation: shimmer 1.2s linear infinite;

            @keyframes shimmer {
                0%, 100% {
                    opacity: 0.5;
                }
                50% {
                    opacity: 1;
                }
            }
        }
    }

    .capacity {
        position: absolute;
        top: 0;
        right: 0;

        .number {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--t-font-s);
            font-weight: bold;
            color: var(--c-text-secondary);
            cursor: default;
        }
    }
}