@import './constants/index.scss';

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-family: var(--t-font-primary);
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notifications {
  & > div > div {
    background-color: var(--c-bg);
    color: var(--c-text);
    border-radius: var(--l-rounded-md);
    box-shadow: var(--s-s), 0 0 0 1px var(--c-ring);
    font-size: 13px;
    font-family: var(--t-font-secondary);
  }
}