.root {
    font-family: var(--t-font-secondary);
    --focus: 0 0 0 0;

    &:focus-within {
        --focus: var(--s-focus);
    }

    &.disabled {
        opacity: .8;
    }

    .label {
        display: block;
        font-size: .75rem;
        margin-bottom: var(--l-2);
        font-weight: 500;
        color: var(--c-text-secondary)
    }

    .select {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .8125rem;
        font-weight: 500;
        padding: var(--l-2) var(--l-3);
        border-radius: var(--l-rounded-md);
        background-color: var(--c-bg);
        box-shadow: var(--focus), 0 0 0 1px var(--c-ring), var(--s-s);

        > span:first-of-type {
            width: calc(100% - 28px);
        }
    }

    .value {
        text-overflow: ellipsis;
    }

    .skeleton {
        height: var(--l-5);
    }

    .chevron, .loading {
        display: block;
        width: var(--l-5);
        height: var(--l-5);
        margin-left: var(--l-2);
        color: var(--c-neutral-500);
    }

    .loading {
        width: var(--l-4);
        height: var(--l-4);
        animation: var(--a-rotate) var(--a-time-xl) steps(12) infinite;
    }
}

.content {
    padding: var(--l-2);
    border-radius: var(--l-rounded-md);
    background-color: var(--c-bg);
    z-index: 101;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px var(--c-ring), var(--s-s);
    font-family: var(--t-font-secondary);

    .scrollButton {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            display: block;
            height: var(--l-3);
            width: var(--l-3);
        }
    }

    .item {
        display: flex;
        align-items: center;
        border-radius: var(--l-rounded-md);
        padding: var(--l-2);
        font-size: 0.8125rem;
        cursor: default;

        &[data-highlighted] {
            background-color: var(--c-neutral-100);
        }

        &[data-state="checked"] {
            background-color: var(--c-primary-600);
            color: var(--c-white);
        }

        .itemContent {
            flex-grow: 1;
        }

        .check {
            flex-shrink: 0;
            margin-left: var(--l-2);
        }

        .check svg {
            display: block;
            width: var(--l-4);
            height: var(--l-4);
        }
    }
}
