.root {
    width: 100%;

    .item {
        padding: var(--l-2);
        border-radius: var(--l-rounded);

        &:hover {
            background-color: var(--c-neutral-100);
        }

        &[data-state="checked"] {
            background-color: var(--c-primary-600);
            color: var(--c-white);
        }

        span {
            display: block;
        }
    }

    .name {
        font-size: 12px;
    }
}