.root {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;

    .side {
        position: sticky;
        top: 0;
        width: 280px;
        flex-shrink: 0;
        box-shadow: -1px 0 0 0 var(--c-ring) inset;
        padding: var(--l-4);
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    .header {
        display: none;
        margin: calc(-1 * var(--l-4));
        padding: var(--l-3) var(--l-4);
        margin-bottom: var(--l-4);
        box-shadow: 0 1px 0 0 var(--c-ring);
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: var(--c-bg);

        @media screen and (max-width: 1024px) {
            display: flex;
        }
    }

    .main {
        flex-grow: 1;

        .content {
            padding: var(--l-4);
            max-width: 1280px;
            margin: auto;
        }
    }
}