.overlay {
  background-color: var(--c-backdrop);
  position: fixed;
  inset: 0px;
  z-index: 102;
}

.wrapper {
  position: fixed;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  z-index: 102;

  @media screen and (max-width: 768px) {
    padding: 0;
    padding-top: 36px;
    align-items: flex-start;
    top: unset;
    max-height: 100%;
  }
}

.noPrint {
  @media print {
    display: none;
  }
}

.content {
  position: relative;
  padding: 24px;
  background-color: var(--c-bg);
  border-radius: var(--l-rounded-lg);

  scroll-behavior: smooth;
  width: 100%;

  @media screen and (min-width: 769px) {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
  }

  @media screen and (max-width: 768px) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    &::before {
      content: "";
      display: block;
      background-color: var(--c-text);
      position: absolute;
      top: 12px;
      z-index: 102;
      opacity: 0.5;
      left: 50%;
      transform: translateX(-50%);
      width: 48px;
      height: 4px;
      border-radius: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: calc(-100vh + 1px);
      height: 100vh;
      width: 100%;
      background-color: var(--c-bg);
    }
  }

  &[data-width="xs"] {
    max-width: 280px;
  }

  &[data-width="sm"] {
    max-width: 400px;
  }

  &[data-width="md"] {
    max-width: 480px;
  }

  &[data-width="lg"] {
    max-width: 600px;
  }
}

.title {
  position: sticky;
  font-size: var(--t-font-m);
  font-weight: 600;
  margin-bottom: 8px;
  background-color: var(--c-bg);
}

.description {
  font-size: var(--t-font-s);
  color: var(--c-text-secondary);
  margin-bottom: 12px;
}

.actions {
  display: flex;
  position: sticky;
  bottom: 0;
  gap: 8px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
