.root {
    position: relative;
    display: grid;
    grid-template-columns: 56px 1fr;
    font-family: var(--t-font-secondary);
    margin: 0 calc(-1 * var(--l-4));

    &.schedule {
        margin-top: calc(-1 * var(--l-4));
        margin-bottom: calc(-1 * var(--l-4));
    }

    --block-height: 96px;
    --header-height: 40px;

    @media print {
        --block-height: 56px;
        --header-height: 20px;
    }

    .element {
        position: absolute;
        top: 0;
        display: flex;
        align-items: stretch;
        width: 100%;
    }

    .buttons {
        display: none;
        position: absolute;
        width: 100%;
        padding: var(--l-1) var(--l-2);
        height: var(--header-height);

        @media screen and (max-width: 768px) {
            display: flex;
        }
    }

    .days {
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .day:not(.selected) {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .day.error {
            .dayTitle {
                color: var(--c-red);
            }
        }

        .day::before {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 1px;
            background-color: var(--c-ring);
            transform: translateX(-0.5px);
        }

        .dayTitle {
            text-align: center;
            line-height: var(--header-height);
            font-size: var(--t-font-s);
            color: var(--c-text-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            @media print {
                font-size: 8px;
            }
        }

        .dayItems {
            position: relative;
        }
    }

    .overlap {
        background-color: var(--c-red);
        width: 100%;
        margin: var(--l-1);
        border-radius: var(--l-radius-s);
        opacity: 0.4;
    }

    .now {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        opacity: 0.8;
        margin-top: -7px;

        &::before {
            content: '';
            display: block;
            width: 8px;
            height: 1px;
            background-color: var(--c-neutral-500);
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--c-neutral-500);
        }

        .nowTime {
            font-size: 10px;
            line-height: 16px;
            flex-shrink: 0;
            padding: 0 8px;
            border: var(--c-neutral-500) 1px solid;
            border-radius: 3px;
            background-color: var(--c-bg);
        }

        @media print {
            display: none;
        }
    }

    .times {
        padding-top: var(--header-height);

        .timeCell {
            line-height: var(--block-height);
            font-size: var(--t-font-s);
            text-align: center;
            color: var(--c-text-secondary);

            @media print {
                font-size: 8px;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 1px;
                width: 100%;
                background-color: var(--c-ring);
            }
        }
    }

    .today {
        position: fixed;
        left: 64px;
        bottom: 8px;
        z-index: 10;
        width: calc(100% - 72px);

        @media screen and (min-width: 769px) {
            display: none;
        }
    }
}