.root {
    position: relative;
    padding: var(--l-1) var(--l-2);
    background-color: var(--c-bg);
    margin: var(--l-1);
    border-radius: var(--l-radius-s);
    width: 100%;
    z-index: 1;
    overflow: hidden;
    box-shadow: var(--s-s), 0 0 0 1px var(--c-ring);

    .text {
        display: block;
        font-size: 11px;
    }
}