.divider {
    flex-grow: 1;
}

.section {
    padding: var(--l-6) 0;
}

.subLink {
    display: flex;
    width: 100%;
    gap: var(--l-2);
    align-items: center;
    padding: var(--l-2) var(--l-3);
    border-radius: var(--l-rounded-md);

    &:hover {
        background-color: var(--c-neutral-100);
    }

    &.active {
        background-color: var(--c-primary-600);
        color: var(--c-white);
    }

    .name {
        font-size: 0.875rem;
    }

    .slug {
        opacity: 0.75;
    }
}