.root {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    max-width: 1240px;
    margin: auto;
    width: 100%;

    .side {
        position: sticky;
        top: 64px;
        width: 280px;
        flex-shrink: 0;
        box-shadow: -1px 0 0 0 var(--c-ring) inset;
        padding: var(--l-4);
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 64px);

        @media screen and (max-width: 1024px) {
            display: none;
        }

        @media print {
            display: none;
        }
    }

    .header {
        display: none;
        padding: var(--l-2) var(--l-4);
        box-shadow: 0 1px 0 0 var(--c-ring);
        position: sticky;
        top: 64px;
        z-index: 100;
        background-color: var(--c-bg-transparent-header);
        backdrop-filter: blur(8px);

        @media screen and (max-width: 1024px) {
            display: flex;
        }
    }

    .main {
        flex-grow: 1;

        .content {
            max-width: 600px;
            margin: auto;
            padding: var(--l-6) var(--l-4);

            @media screen and (max-width: 600px) {
                max-width: 100vw;
            }
        }
    }
}