.content {
    font-size: var(--t-font-s);
    box-shadow: var(--s-s), 0 0 0 1px var(--c-ring);
    background-color: var(--c-bg);
    padding: var(--l-1) var(--l-2);
    border-radius: var(--l-radius-s);
    z-index: 101;
}